<div class="modal-header" ng-controller="InstructorModalCtrl">
 <button type="button" class="close" ng-click="cancel()">x</button>
 <h4 class="modal-title">{{instructor.name}}</h4>
</div><!--END MODAL HEADER-->
<div class="modal-body">                
	<div class="text-center">
	   	<img src="{{instructor.image}}" alt="{{instructor.name}}" />
	   	<br /><br />
	   	<p>{{instructor.bio}}</p>
	</div>
          
</div><!--END MODAL BODY-->
<div class="modal-footer">
</div><!--MODAL FOOTER-->
