<!-- Header Image and Logo -->
<div id="collegecramheader">
	<header class="clearfix">
	<div class="span12C">
		<div class="centerLogo">
			<h1>College Cram Sessions <br /><br />for the next generation of entrepreneurs</h1>
			<br />
			<!--<h3>Applications are now open for Asheville, Charlotte, and Durham.</h3>
			<h3>Scroll down for details on course offerings and dates at each&nbsp;branch.</h3>-->
		</div>
	</div>
	</header>
</div>



<section id="youthcode"></section>
<div id="projectwrap_2">
	<div class="container"><br /><br />
		<div class="row">
			<h4>Have you always wanted to build your own website or web application but never had the support structure to get it done? Want to market your company online but don’t know where to start? Enter Tech Talent South’s College Cram Session. Over a 10 day period we will touch on most of the subjects our 8-week students deal with, help you build the fundamentals to create a functional prototype, and allow you to do what you’ve always wanted to do. Our highly trained staff will be there all 10 days to teach and help you achieve your personal programming goals.   Join us and your classmates and learn how to build something great!</h4>

			<h4>Cost for the class is $2000.  Scholarships are available for female applicants.</h4>
			</div>
			<div class="row">
				<hr />
				<h3>Athens, GA
				<br />May 12-23</h3>

				<h4 class="text-center">Apply here:</h4>
				<center><a href="http://www.jotformpro.com/techtalentsouth/Athens_College_Cram" target="_blank"><img src="assets/img/circle.png" width="200px" /></a></center>
			</div>
			<div class="row">
				<hr />
				<h3>Raleigh, NC
				<br />May 19-30</h3>
				<h4 class="text-center">Apply here:</h4>
				<center><a href="http://www.jotformpro.com/techtalentsouth/Raleigh_College_Cram" target="_blank"><img src="assets/img/circle.png" width="200px" /></a></center>
			</div>
		</div>
	</div> <!--CONTAINER -->
</div> <!--PROJECT WRAP -->
