<div id="contactus">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h2>CONTACT US</h2>
        <div class="about_item">
          <div class="about_item_center">
            <img alt="" src="assets/img/photo1.jpg" />
            <div class="clear"></div>
          </div>
        </div>
        <h4>We'd love to hear from you! Shoot us an email or connect with us on our social media accounts.</h4>
      </div>
      <!-- span4 -->
      <div class="span6">
        <div class="big-sign-up">
          <div ng-include src="'views/main_includes/newsletter.html'"></div>
          <h5>Email: info@techtalentsouth.com</h5>
          <h5>Phone: (404) 491-9887</h5>
          <h5>Facebook: <a href="http://www.facebook.com/techtalentsouth">facebook.com/techtalentsouth</a></h5>
          <h5>Twitter: <a href="http://www.twitter.com/techtalentsouth">@TechTalentSouth</a></h5>
          <h5>Tumblr: <a href="http://techtalentsouth.tumblr.com">techtalentsouth.tumblr.com</a></h5>
        </div>
        <br />
      </div>
       
    </div><!-- span4 -->
  </div><!-- span4 -->
</div><!-- End Row -->
<!-- End aboutwrap -->