<div id="headerwrap">
    <header class="clearfix">
      <div class="span12C">
        <div class="centerLogo">
          <img src="assets/img/logo.png" />
          <h1>Learn to Code</h1>
          <h2>&amp;</h2>
          <h1>Do Something Big</h1>
        </div>
      </div>
  </header>
</div>
<!-- Welcome -->
  <div id="welcomewrap">
    <header class="clearfix">
      <div class="container">
        <div class="span12">
          <h2>"For most people on Earth, the digital revolution hasn't even started yet. Within the next 10 years, all that will change. Let's get the whole world coding!" -Eric Schmidt, Executive Chairman, Google</h2>
        </div>
      </div>
    </header>
  </div>
  
  <!--SERVICE WRAP -->
  <section id="services">
  <div ng-include src="'views/main_includes/servicewrap.html'"></div>
  <p></p>

<!-- Introduction Text and Responsive Image -->
  <div ng-include src="'views/main_includes/introduction.html'"></div>

  <!-- Studio Carousel and Quote -->
  <div ng-include src="'views/main_includes/studio_carousel.html'"></div>
<!-- End Container -->

<p></p>
</section>

 

<!-- PriceWrap -->
<section id="pricing">
<div ng-include src="'views/main_includes/pricing.html'"></div>
</section>

<section id="project">
<p></p>
<!-- Project Section Begins -->
<div id="projectwrap">
  <header class="clearfix">
      <!--<div class="span12">-->
        <div class="boxcolor">
          <div class="container">
          <h2 style="color: white;">The next big thing is right around the corner, and you can be a part of it!</h2>
        </div>
      </div>
    <!--</div>--><!-- span12 -->
 </header>
</div><!-- container -->

<!--AFFILIATES SECTION-->
<section id="affiliates"></section>
<h4>&nbsp;</h4>
<div class="container">
  <div class="row">
    <h1>Affiliates/Partnerships</h1>
    <div class="span2" ng-repeat="affiliate in affiliates">
      <div class="text-center">
        <img src="{{affiliate.img}}" alt="{{affiliate.name}}" />
        <h4><a href="{{affiliate.link}}" target="_blank">{{affiliate.name}}</a><h4>
      </div>
    </div>
  </div>
</div>
<h1>&nbsp;</h1>
<!--END AFFILIATES SECTION-->

<!-- About Section Begins -->
<!--<section id="about">
<div ng-include src="'views/main_includes/about.html'"></div>
</section>-->
<!--END ABOUT-->