<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
<!-- Header Image and Logo -->
<div id="youthcodeheader"><header class="clearfix">
<div class="span12C">
<div class="centerLogo">
<h1>Youth &amp; College Code Camps <br /><br />for the next generation of entrepreneurs</h1>
<br /> <!--<h3>Applications are now open for Athens, Charlotte, and Durham.</h3>
			<h3>Scroll down for details on course offerings and dates at each&nbsp;branch.</h3>--></div>
</div>
</header></div>
<section id="youthcode"></section>
<div id="projectwrap_2">
<div class="container"><br /><br />
<h3>Youth Code Camps</h3>
<h2>Start Young...<br />The next generation is full of entrepreneurs and tech wizards just waiting to be exposed to the tools they need to succeed. Spaces are filling up quickly at camps across the Southeast. Submit your tech all-star's application for bootcamp now.</h2>
<center>
<h1><a href="javascript:void( window.open('http://form.jotform.us/form/32026290224140', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))">Enroll your child now</a></h1>
</center>
<h3><!-- PICTURES--></h3>
<div class="row"><br />
<div class="span4" ng-repeat="gallery in galleries">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a rel="prettyPhoto"><img alt="" src="{{gallery.image}}" /></a></div>
<div class="clear"></div>
<h3>{{gallery.title}}</h3>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <br /><hr /></div>
</div>
<!-- container --> <!--END PICTURES-->
<p></p>
<!-- Clients Logo -->
<div class="container">
<div class="row">
<div class="clients">
<h2>What the kids will learn...</h2>
<h4>-HTML language basics<br />-exposure to animation<br />-how an idea is developed and pushed to the web<br />-how to code simple programs with Ruby<br />-what is possible with technology and how it can be used to solve real world problems</h4>
<p></p>
<center><hr />
<h1>Upcoming camps</h1>
</center>
<h3>Atlanta</h3>
<h3>Kids' Code Camp at ATDC<br />Saturday, June 28th from 9am - 1pm.</h3>
<h3><a href="http://form.jotformpro.com/form/41394734920962">Enroll your child now</a></h3>
<h3><br />Athens<br />Kids&rsquo; Code Camp at FourAthens&nbsp;<br />Saturday, March 22.</h3>
<h3><br />Raleigh<br />Kids&rsquo; Code Camp at HQ<br />We'll be announcing new dates soon!</h3>
<h3><br />Charlotte<br /></h3>
<h3>Free Youth Code Thursdays kick off on May 1. Register here: &nbsp;<a href="http://eventbrite.com/event/11317090723?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=new_eventv2&amp;utm_term=eventurl_text" target="_blank" style="color: #1155cc; font-family: arial, sans-serif; font-size: 13px;">http://www.eventbrite.com/e/<wbr>kids-code-<span class="aBn" data-term="goog_309422173" style="border: none !important; position: static !important; top: -2px; z-index: auto !important; cursor: inherit !important;"><span class="aQJ" style="position: static !important; top: 2px; z-index: auto !important; border: none !important; cursor: inherit !important;">thursday</span></span>-tickets-<wbr>11317090723</wbr></wbr></a></h3>
<h3><br />In addition, be sure to sign up for our newsletter to learn about our new multi-city initiative to offer free code afternoons to youth.</h3>
<hr /></div>
</div>
</div>
</div>
<!--CONTAINER -->
<p></p>
<!--PROJECT WRAP -->
<p></p>
</body>
</html>