 <section id="aboutinstructor"><br /><br /></section>
  <div id="aboutwrap">
    <div class="container">
    <h2>Meet our Instructors</h2>
    <div class="span3">
      <div class="about_item">
        <div class="about_item_center"><img alt="" src="assets/img/tj.jpg" />
          <div class="clear"></div>
            <h3>TJ Muehleman</h3>
            <p>TJ can usually be found in one of three places: chasing his dogs around the yard, figuring out how not to lose a finger with the new saw he got for Christmas, or sitting in front of his laptop coding the next billion dollar idea -- or, as is often for TJ, the next thousand dollar idea. A native Texan, TJ's been a working developer for over 15 years and loves helping new coders figure out what a for loop actually does. TJ is also Co-founder of We&amp;Co and Standard Code.</p>
        </div>
      </div>
    </div><!-- about_item -->
          <!-- span4 -->
    <div class="span3">
      <div class="about_item">
        <div class="about_item_center"><img alt="" src="assets/img/robby.jpg" />
          <div class="clear"></div>
          <h3>Robby Ranshous</h3>
          <p>Code laureate. A lover of events, genetic algorithms, and empowering people with knowledge, Robby can be found most days walking the streets of Atlanta, slaving away over a hot keyboard, or spending time with his beautiful wife Elizabeth. Robby lovingly crafts his lessons from more than 10 years of experience designing and building production web applications. Robby is currently a Senior Software Engineer at Kevy.</p>
        </div>
      </div>
    </div><!-- about_item -->
  </div><!-- span4 -->
</div><!-- End Row -->
</div><!-- End aboutwrap -->