<div class="container">
    <div class="row"><br /><br />
      <div class="span6">
      <h1>What will I learn? Well...a lot!</h1>
      <h2>Ruby on Rails</h2>
      <p>Get on board with this insanely popular and practical open source web application framework that has been used to build tools like Twitter, Basecamp, Hulu, Groupon, and Shopify.</p>
      <h2>Domain Modeling</h2>
      <p>Learn the crucial skill of modeling resources and relationships in a dynamic, database-backed web application.</p>
      <h2>HTTP and "RESTful" Design</h2>
      <p>Understand how the crazy world of the Internet works and how superior web applications are designed.</p>
      <h2>HTML/CSS</h2>
      <p>Learn how these languages are used to paint beautiful websites and user experiences.</p>
      <h2>Javascript and AJAX</h2>
      <p>Use languages and techniques to make your web application interactive and seamless.</p>
      <h2>Understanding and Utilizing APIs</h2>
      <p>Learn how to integrate your web application with tools like Facebook and Google Maps.</p>
      </div>
      <!-- span6 -->
      <div class="span6"><img alt="" src="assets/img/responsive.png" /> <!--<br /><br /><br /><br />-->
        <div class="text-center">
          <div class="gap">
          </div>
          <a href="#!/locations"><img src="assets/img/circle.png" /></a>
        </div>
      </div>
  </div><!--row-->
</div><!--container-->
<!-- example -->