<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
<div id="pricewrap">
<div class="container"><br />
<div class="span12">
<h2>Your Investment</h2>
<div class="pricing-table-wrapper">
<div class="pricing-table row-fluid">
<ul class="pricing-column span6">
<li class="pricing-title">Full-time Code Immersion Class Pricing</li>
<li class="pricing-price">$6250</li>
<li></li>
<li>Visit our locations page for details about each city</li>
<li>Classroom hours: &nbsp;M,T,W,Th (8am-11am)</li>
<li>Office hours following class: (11am-12:30pm)</li>
<li>Coworking space available for use all day</li>
<li>Guest lectures by local entrepreneurs and developers &nbsp;</li>
<li>Company tours of local startups and coordinated networking and social events</li>
<li class="pricing-button"><a class="button" href="javascript:void( window.open('http://form.jotform.us/form/31955208889166', 'blank','scrollbars=yes,toolbar=no,width=7000,height=10000'))">Apply Now</a></li>
</ul>
<ul class="pricing-column span6">
<li class="pricing-title">Part-time Code Immersion Class Pricing</li>
<li class="pricing-price">$4250</li>
<li></li>
<li>Visit our locations page for details about each city</li>
<li>Classroom hours: Mon/Wed (6-9pm)</li>
<li>Office hours before class: (5pm-6pm)</li>
<li>Accessiblity to space during the day</li>
<li>Guest lectures by local entrepreneurs and developers &nbsp;</li>
<li>Company tours of local startups and coordinated networking and social events</li>
<li class="pricing-button"><a class="button" href="javascript:void( window.open('http://form.jotform.us/form/31955208889166', 'blank','scrollbars=yes,toolbar=no,width=7000,height=10000'))">Apply Now</a></li>
</ul>
</div>
</div>
<!-- Pricing-Table Row Fluid --></div>
<!-- Pricing-Table-Wraper --></div>
<!-- Span12 --></div>
<!-- Container -->
<p></p>
</body>
</html>