<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
<div class="container"><br /><hr /><br />
<div class="row">
<div class="span6">
<div id="myCarousel" class="carousel slide">
<div class="carousel-inner">
<div class="item active"><img alt="" src="assets/img/studio1.jpg" /></div>
<div class="item"><img alt="" src="assets/img/studio2.jpg" /></div>
<div class="item"><img alt="" src="assets/img/studio3.jpg" /></div>
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a><!-- Carousel Control --> <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a></div>
<!-- myCarousel --></div>
<!-- span6 -->
<div class="span6">
<div id="aboutwrap">
<h3>Who should apply?</h3>
<h4>Looking to make a change? Pick up a new skill set? Start a business? Or make the world a better place through technology? If you are passionate, persistent, and eager to learn, Tech Talent South is right for you!</h4>
<h4>Our beginner focused 8-week programs empower students with the skills to code, design, and ship dynamic web applications. If you know how to use a mouse and a keyboard, we&rsquo;ll have you turning your ideas into reality and building dynamic web apps in no time. Let&rsquo;s go!</h4>
</div>
</div>
</div>
<!-- End row --><hr /></div>
<!-- container -->
<p></p>
</body>
</html>