<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
<div class="container">
<div class="row">
<div class="span2"></div>
<div class="span8"><br />
<h1>Introduction to Game Development</h1>
<h2>Do you love playing games? Do you dream of building your own but have never known where to start? If you've got a passion for gaming and the desire to build your own worlds, characters, and adventures...this class is for you!</h2>
<h3>Next class launches May 16th in Atlanta</h3>
<center>
<div id="myCarousel2" class="carousel slide">
<div class="carousel-inner">
<div class="item active"><img alt="" src="assets/img/gamedev3.png" /></div>
<div class="item"><img alt="" src="assets/img/gamedev2.png" /></div>
<div class="item"><img alt="" src="assets/img/gamedevpic1.png" /></div>
</div>
<a class="left carousel-control" href="#myCarousel2" data-slide="prev">&lsaquo;</a> <a class="right carousel-control" href="#myCarousel2" data-slide="next">&rsaquo;</a></div>
<!-- myCarousel2 -->
<h2>In our "Intro to Game Development" class, you'll not only learn all the key fundamentals of game development (developing custom behaviors and animation, scenery and character design, utilizing physics engines, etc.) but actually go from being a total beginner to being able to publish and share your own custom games! If you're ready to go from being a consumer to a creator of games, sign up for our "Intro to Game Development" class below!</h2>
<h4>Class Details:<br />This class is two weekends. The next available dates are: 05/16/14 &amp; 5/17/14 and 05/23/14 &amp; 05/24/14 in Atlanta. Each day will be from 9:30am to 4:00pm with a 30 minute lunch break. The course is $850. This class is open enrollment (no interview is necessary). Whether you're a 16-year-old looking to write your first game or a 60-year-old searching for a fun hobby or radical career change, this class is a great starting point.</h4>
<center>
<h3><a href="javascript:void( window.open('http://form.jotform.co/form/40063962685864', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))">Enroll here!</a></h3>
</center></center></div>
<!-- span8 -->
<div class="span2"></div>
</div>
</div>
<!-- row -->
<p></p>
<!-- container -->
<p></p>
<!-- span8 -->
<div class="span2"></div>
<!-- row -->
<p></p>
<!-- container -->
<p></p>
<!-- example -->
<p></p>
<!-- Price Tables -->
<p></p>
</body>
</html>